<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
Scala China 社区希望能在中国更好地推广 Scala 及其相关技术（包括但不局限于 Spark，Akka，Spray，Play）。

Scala China 使用 [Nodeclub](https://github.com/cnodejs/nodeclub/) 搭建，目前由 [@Hawstein](http://weibo.com/hawstein) 维护，邮箱：tomhawstein@gmail.com。
*/
        })) %>
      </div>
    </div>
  </div>
</div>
